## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [1]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [2]:
type(lista_1)

list

In [3]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [4]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [5]:
type(lista_2)

list

In [6]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [7]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [8]:
type(lista_3)

list

In [9]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [10]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [11]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

#### Atualizando Um Item da Lista

In [12]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [13]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [14]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [15]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [16]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [17]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [ ]:
# Deletando um item específico da lista
del lista_2[3]

In [ ]:
# Imprimindo o item com a lista alterada
lista_2

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [18]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [19]:
# Imprimindo a lista
print(listas)

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [20]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [21]:
a

[1, 2, 3]

In [22]:
b = a[0]

In [23]:
b

1

In [24]:
list1 = listas[1]

In [25]:
list1

[10, 15, 14]

In [26]:
valor_1_0 = list1[0]

In [27]:
valor_1_0

10

In [28]:
valor_1_2 = list1[2]

In [29]:
valor_1_2

14

In [30]:
list2 = listas[2]

In [31]:
list2

[10.1, 8.7, 2.3]

In [32]:
valor_2_0 = list2[0]

In [33]:
valor_2_0

10.1

#### Operações com Listas

In [34]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [35]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [36]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [37]:
a

1

In [38]:
b = listas[1][2]

In [39]:
b

14

In [40]:
c = listas[0][2] + 10

In [41]:
c

13

In [42]:
d = 10

In [43]:
d

10

In [44]:
e = d * listas[2][0]

In [45]:
e

101.0

#### Concatenando Listas

In [46]:
lista_s1 = [34, 32, 56]

In [47]:
lista_s1

[34, 32, 56]

In [48]:
lista_s2 = [21, 90, 51]

In [49]:
lista_s2

[21, 90, 51]

In [50]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [51]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [52]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [53]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [54]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

![Listas](listas.jpg)

In [55]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [56]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [57]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [58]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [59]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [60]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [61]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [62]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [63]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [64]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [65]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [66]:
# Criando uma lista vazia
a = []

In [67]:
print(a)

[]

In [68]:
type(a)

list

In [69]:
a.append(10)

In [70]:
a

[10]

In [71]:
a.append(50)

In [72]:
a

[10, 50]

In [73]:
old_list = [1,2,5,10]

In [74]:
new_list = []

In [75]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [76]:
new_list

[1, 2, 5, 10]

In [77]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [78]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [79]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [80]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [81]:
cidades.insert(2, 110)

In [82]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [83]:
# Remove um item da lista
cidades.remove(110)

In [84]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [85]:
# Reverte a lista
cidades.reverse()

In [86]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [87]:
x = [3, 4, 2, 1]

In [88]:
x

[3, 4, 2, 1]

In [89]:
# Ordena a lista
x.sort()

In [90]:
x

[1, 2, 3, 4]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [91]:
# Imprimindo a tupla
tupla1

NameError: name 'tupla1' is not defined

In [92]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [93]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [94]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [95]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [1]:
tupla1

NameError: name 'tupla1' is not defined

In [9]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [10]:
tupla1[0]

'Geografia'

In [11]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [12]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [13]:
tupla1.index('Elefantes')

2

In [14]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [15]:
# Deletando a tupla
del tupla1

In [16]:
tupla1

NameError: name 'tupla1' is not defined

In [7]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [8]:
t2

('A', 'B', 'C')

In [17]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [18]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [19]:
type(t2)

tuple

In [20]:
type(lista_t2)

list

In [21]:
lista_t2

['A', 'B', 'C']

In [22]:
lista_t2.append('D')

In [23]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [24]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [49]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [50]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [51]:
type(estudantes_lst)

list

In [52]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [53]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [54]:
type(estudantes_dict)

dict

In [55]:
estudantes_dict["Pedro"]

24

In [56]:
estudantes_dict["Marcelo"] = 23

In [57]:
estudantes_dict["Marcelo"]

23

In [58]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [59]:
estudantes_dict.clear()

In [60]:
estudantes_dict

{}

In [61]:
del estudantes_dict

In [62]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [63]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [64]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [65]:
len(estudantes)

4

In [66]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [67]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [68]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [69]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [70]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [71]:
estudantes.update(estudantes2)

In [72]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [73]:
dic1 = {}

In [74]:
dic1

{}

In [75]:
dic1["chave_um"] = 2

In [76]:
print(dic1)

{'chave_um': 2}

In [77]:
dic1[10] = 5

In [78]:
dic1

{'chave_um': 2, 10: 5}

In [79]:
dic1[9.13] = "Python"

In [80]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [81]:
dic1["teste"] = 5

In [82]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [83]:
dict1 = {}

In [84]:
dict1

{}

In [85]:
dict1["teste"] = 10

In [86]:
dict1["key"] = "teste"

In [87]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [88]:
dict2 = {}

In [89]:
dict2["key1"] = "Data Science"

In [90]:
dict2["key2"] = 10

In [91]:
dict2["key3"] = 100

In [92]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [93]:
a = dict2["key1"]

In [94]:
b = dict2["key2"]

In [95]:
c = dict2["key3"]

In [96]:
a, b, c

('Data Science', 10, 100)

In [97]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [98]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [99]:
dict3['chave2']

[22, 453, 73.4]

In [100]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [101]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [102]:
var1

20

In [103]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [104]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [105]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [106]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [107]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [108]:
lista = []
for i in range(5):
  n = int(input(f"Digite o valor {i+1}: "))
  lista.append(n)

print("Lista Inversa: ", lista[::-1])

Digite o valor 1:  1
Digite o valor 2:  2
Digite o valor 3:  3
Digite o valor 4:  4
Digite o valor 5:  5

Lista Inversa:  [5, 4, 3, 2, 1]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [109]:
lista = []
for i in range(5):
  n = int(input(f"Digite o valor {i+1}: "))
  lista.append(n)
indice = lista.index(max(lista))
print(f"O maior valor é {max(lista)} e seu índice é {indice}!")

Digite o valor 1:  1
Digite o valor 2:  2
Digite o valor 3:  3
Digite o valor 4:  4
Digite o valor 5:  5

O maior valor é 5 e seu índice é 4!

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [111]:
l1 = []
l2 = []
l3 = []
for i in range(5):
  n = int(input(f"Digite o valor {i+1}: "))
  l1.append(n)
for i in range(5):
  n = int(input(f"Digite o valor {i+1}: "))
  l2.append(n)
for i in range(5):
  l3.append(l1[i])
  l3.append(l2[i])
print('Lista1: ', l1)
print('Lista2: ', l2)
print('Lista3: ', l3)

Digite o valor 1:  1
Digite o valor 2:  2
Digite o valor 3:  3
Digite o valor 4:  4
Digite o valor 5:  5
Digite o valor 1:  11
Digite o valor 2:  22
Digite o valor 3:  33
Digite o valor 4:  44
Digite o valor 5:  55

Lista1:  [1, 2, 3, 4, 5]
Lista2:  [11, 22, 33, 44, 55]
Lista3:  [1, 11, 2, 22, 3, 33, 4, 44, 5, 55]

In [112]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (10):
    lado = randint(1, 6)
    print(lado, end=" ")

4 3 4 3 3 2 5 6 5 2

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [113]:
jogadas = [0,0,0,0,0,0,0]
percentual = [0,0,0,0,0,0,0]
for i in range(6000):
  lado = randint(1, 6)
  jogadas[lado] += 1

for i in range(1, 7):
  percentual[i] = (jogadas[i]/6000)*100

for i in range(1, 7):
  print(f"{i} - {jogadas[i]} - {percentual[i]:.2f}%")

1 - 1023 - 17.05%
2 - 986 - 16.43%
3 - 981 - 16.35%
4 - 989 - 16.48%
5 - 1069 - 17.82%
6 - 952 - 15.87%

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [114]:
jogadas = [0,0,0,0,0,0,0,0,0,0,0,0,0]
percentual = [0,0,0,0,0,0,0,0,0,0,0,0,0]
for i in range(30000):
  dado1 = randint(1, 6)
  dado2 = randint(1, 6)
  soma = dado1 + dado2
  jogadas[soma] += 1

for i in range(2, 13):
  percentual[i] = (jogadas[i]/30000)*100

for i in range(2, 13):
  print(f"{i} - {jogadas[i]} - {percentual[i]:.2f}%")

2 - 834 - 2.78%
3 - 1642 - 5.47%
4 - 2531 - 8.44%
5 - 3282 - 10.94%
6 - 4249 - 14.16%
7 - 4938 - 16.46%
8 - 4152 - 13.84%
9 - 3347 - 11.16%
10 - 2554 - 8.51%
11 - 1669 - 5.56%
12 - 802 - 2.67%

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [115]:
linha = []
matriz = []
for i in range(2):
  for j in range(2):
    x = int(input(f"Digite o valor ({i},{j}): "))
    linha.append(x)
  matriz.append(linha)
  linha = []

print(matriz)

Digite o valor (0,0):  2
Digite o valor (0,1):  3
Digite o valor (1,0):  5
Digite o valor (1,1):  6

[[2, 3], [5, 6]]

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

In [116]:
matriz = []

print("Digite os elementos da matriz 4x4:")


for i in range(4):
    linha = []  # Inicializa uma nova linha vazia
    for j in range(4):
        # Lê cada elemento da matriz como um número real
        elemento = float(input(f"Elemento [{i + 1}, {j + 1}]: "))
        linha.append(elemento)  # Adiciona o elemento à linha
    matriz.append(linha)  # Adiciona a linha à matriz


soma_diagonal = 0


for i in range(4):
    
    soma_diagonal += matriz[i][i]


print(f"A soma dos elementos da diagonal principal é: {soma_diagonal:.2f}")

Digite os elementos da matriz 4x4:

Elemento [1, 1]:  2
Elemento [1, 2]:  3
Elemento [1, 3]:  5
Elemento [1, 4]:  8
Elemento [2, 1]:  8
Elemento [2, 2]:  1
Elemento [2, 3]:  2
Elemento [2, 4]:  3
Elemento [3, 1]:  5
Elemento [3, 2]:  0
Elemento [3, 3]:  9
Elemento [3, 4]:  8
Elemento [4, 1]:  12
Elemento [4, 2]:  32
Elemento [4, 3]:  54
Elemento [4, 4]:  6

A soma dos elementos da diagonal principal é: 18.00

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

In [117]:

matriz = []

print("Digite os elementos da matriz 5x5:")


for i in range(5):
    linha = []  
    for j in range(5):
        
        elemento = float(input(f"Elemento [{i + 1}, {j + 1}]: "))
        linha.append(elemento)  # Adiciona o elemento à linha
    matriz.append(linha)  # Adiciona a linha à matriz


soma_linhas_pares = 0
quantidade_elementos = 0


for i in range(5):
    
    if i % 2 == 0:
        for j in range(5):
            soma_linhas_pares += matriz[i][j]
            quantidade_elementos += 1


if quantidade_elementos > 0:
    media = soma_linhas_pares / quantidade_elementos
    print(f"A média dos elementos nas linhas pares é: {media:.2f}")
else:
    print("Não há linhas pares na matriz.")

Digite os elementos da matriz 5x5:

Elemento [1, 1]:  2
Elemento [1, 2]:  2
Elemento [1, 3]:  4
Elemento [1, 4]:  6
Elemento [1, 5]:  1
Elemento [2, 1]:  3
Elemento [2, 2]:  5
Elemento [2, 3]:  77
Elemento [2, 4]:  11
Elemento [2, 5]:  55
Elemento [3, 1]:  8
Elemento [3, 2]:  2
Elemento [3, 3]:  4
Elemento [3, 4]:  6
Elemento [3, 5]:  8
Elemento [4, 1]:  22
Elemento [4, 2]:  4
Elemento [4, 3]:  6
Elemento [4, 4]:  7
Elemento [4, 5]:  8
Elemento [5, 1]:  9
Elemento [5, 2]:  12
Elemento [5, 3]:  3
Elemento [5, 4]:  435
Elemento [5, 5]:  43

A média dos elementos nas linhas pares é: 36.33

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

In [122]:
lista = []
for i in range(5):
  n = int(input(f"Digite o valor {i+1}: "))
  lista.append(n)

t = tuple(lista)
print(lista)
print(t)

Digite o valor 1:  1
Digite o valor 2:  2
Digite o valor 3:  3
Digite o valor 4:  4
Digite o valor 5:  5

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [123]:
# versão 1
d = {}
for i in range(5):
  nome = input(f"Digite o nome {i+1}: ")
  idade = int(input(f"Digite a idade {i+1}: "))
  d[nome] = idade
maior = 0
nome_maior = ''
for k, v in d.items():
  if v > maior:
    maior = v
    nome_maior = k

print(f"A pessoa com maior idade é {nome_maior} com {maior} anos!")

Digite o nome 1:  a
Digite a idade 1:  1
Digite o nome 2:  b
Digite a idade 2:  2
Digite o nome 3:  c
Digite a idade 3:  3
Digite o nome 4:  d
Digite a idade 4:  4
Digite o nome 5:  e
Digite a idade 5:  5

A pessoa com maior idade é e com 5 anos!

In [124]:
idade_por_sobrenome = {}

print("Digite os sobrenomes e idades de 5 pessoas:")

# Ler os dados e armazenar no dicionário
for _ in range(5):
    sobrenome = input("Digite o sobrenome da pessoa: ")
    idade = int(input(f"Digite a idade de {sobrenome}: "))
    # Armazenar no dicionário
    idade_por_sobrenome[sobrenome] = idade

# Usar a função max para encontrar a chave (sobrenome) com o maior valor (idade)
sobrenome_maior_idade = max(idade_por_sobrenome, key=idade_por_sobrenome.get)

# Exibir o sobrenome da pessoa com a maior idade
print(f"O sobrenome da pessoa com a maior idade é: {sobrenome_maior_idade}")

Digite os sobrenomes e idades de 5 pessoas:

Digite o sobrenome da pessoa:  a
Digite a idade de a:  1
Digite o sobrenome da pessoa:  b
Digite a idade de b:  2
Digite o sobrenome da pessoa:  c
Digite a idade de c:  3
Digite o sobrenome da pessoa:  d
Digite a idade de d:  4
Digite o sobrenome da pessoa:  e
Digite a idade de e:  5

O sobrenome da pessoa com a maior idade é: e

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

In [125]:
# Inicializar um dicionário vazio para armazenar os nomes e idades
idade_por_nome = {}

print("Digite os nomes e idades de pelo menos 5 pessoas:")

# Ler os dados e armazenar no dicionário
# Neste exemplo, exigimos pelo menos 5 pares, mas o usuário pode adicionar mais
numero_de_pessoas = 5
for _ in range(numero_de_pessoas):
    # Ler o nome da pessoa
    nome = input("Digite o nome da pessoa: ")
    
    # Ler a idade da pessoa
    idade = int(input(f"Digite a idade de {nome}: "))
    
    # Armazenar no dicionário
    idade_por_nome[nome] = idade

# Calcular a média das idades
soma_idades = 0
quantidade_pessoas = len(idade_por_nome)  # Quantidade de pares no dicionário

# Percorrer o dicionário para calcular a soma das idades
for idade in idade_por_nome.values():
    soma_idades += idade

# Calcular a média das idades
media_idade = soma_idades / quantidade_pessoas

# Exibir todos os nomes que têm idade maior que a média
print(f"A média das idades é: {media_idade:.2f}")
print("Nomes com idade maior que a média:")

# Percorrer o dicionário para verificar quais nomes têm idade maior que a média
for nome, idade in idade_por_nome.items():
    if idade > media_idade:
        print(nome)

Digite os nomes e idades de pelo menos 5 pessoas:

Digite o nome da pessoa:  a
Digite a idade de a:  1
Digite o nome da pessoa:  b
Digite a idade de b:  2
Digite o nome da pessoa:  c3
Digite a idade de c3:  3
Digite o nome da pessoa:  d
Digite a idade de d:  4
Digite o nome da pessoa:  e
Digite a idade de e:  5

A média das idades é: 3.00
Nomes com idade maior que a média:
d
e

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

In [126]:
# Inicializar as listas vazias
lista1 = []
lista2 = []

print("Digite os elementos da primeira lista (5 elementos numéricos inteiros):")

# Ler os dados da primeira lista
for i in range(5):
    elemento = int(input(f"Elemento {i + 1}: "))
    lista1.append(elemento)

print("\nDigite os elementos da segunda lista (5 elementos numéricos inteiros):")

# Ler os dados da segunda lista
for i in range(5):
    elemento = int(input(f"Elemento {i + 1}: "))
    lista2.append(elemento)

# Inicializar uma lista vazia para armazenar a união das listas
conjunto_uniao = []

# Adicionar elementos da primeira lista à união
for elemento in lista1:
    if elemento not in conjunto_uniao:
        conjunto_uniao.append(elemento)

# Adicionar elementos da segunda lista à união
for elemento in lista2:
    if elemento not in conjunto_uniao:
        conjunto_uniao.append(elemento)

# Exibir o conjunto da união entre as duas listas
print("\nConjunto da união entre as duas listas:")
print(conjunto_uniao)

Digite os elementos da primeira lista (5 elementos numéricos inteiros):

Elemento 1:  1
Elemento 2:  2
Elemento 3:  3
Elemento 4:  4
Elemento 5:  5

Digite os elementos da segunda lista (5 elementos numéricos inteiros):

Elemento 1:  5
Elemento 2:  4
Elemento 3:  3
Elemento 4:  2
Elemento 5:  1

Conjunto da união entre as duas listas:
[1, 2, 3, 4, 5]

## FIM